
<link rel="stylesheet" href="css/main.css">

<body>
	<nav>
		<ul>
			<li><a href="index.html" style="color: white; text-decoration: none;">Home</a></li>
			<li><a href="page-two.html" style="color: white;text-decoration: none;">Projects</a></li>
			<li><a href="page-three.html" style="color: white;text-decoration: none;"">Contact</a></li>
			<li class="last-li"><a href="index.html" style="color: white; text-decoration: none;">Ryan</a></li>
		</ul>
	</nav>

	<div class="parallax-one"></div>

	<div class="info">
		Hello, my name is Ryan. Pleased to make your acquaintance! <br> I'm just your average western indoor/outdoor cat. You can follow me on my next exciting adventure: learning how to talk code to robots!
	</div>

	<div class="parallax-two"></div>

	<div class="info">
		I'll admit it: I'm a little basic. <br>I wear flannel while chopping down trees and I spice pumpkins regularly. <br> I own about a dozen dirty hats and one of my favorite things to do is kick it with my feline familiar: Echo. 
	</div>
	<div class="parallax-three"></div>
	<div class="info">
		Like everyone in my NYCDA cohort, I love to cook in my spare time. You can also catch me shredding the gnar on the mean wasatch slopes. <br>(Skiing)<br>
		Or staying up untill the small hours reading.
	</div>
	<div class="parallax-four"></div>
	<footer>
		Thank you for visiting! 
	</footer>

</body>
</html>